html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*, *::after, *::before{
    box-sizing: border-box;
}

i {
    color:orange;
    font-size: 2rem;
}

body{
    background-color: #eee;
}

header#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5rem;
}

header img{
    width: 20rem;
}

nav {
    display: flex;
    margin: 0 0 0 auto;
}

nav a {
    margin-left: 2rem;
    text-decoration-line: none;
}

main {
    margin: 0 auto 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

#email{
    width: 15rem;
    margin-bottom: 1rem;
}
#submit {
    width: 10rem;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #f1c40f;
    border-style: none;
}

.feature-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

i {
    margin-right: 10rem;
    font-size: 3rem;
}
.feature-details > div{
    margin-left: auto;
    margin-right: 0;
}

iframe {
    margin-top: 4rem;
}

.feature-gruop {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.feature-gruop > .feature-item {
    border-style:solid;
    border-width: 1px;
    margin: 10px;
    width: 20rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-gruop > .feature-item > div {
    background-color:lightgray;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0 15px 0;
    font-weight: 700;
}
.feature-gruop > .feature-item > h3 {
    font-weight: 800;
    font-size: 2rem;
}

.feature-gruop > .feature-item > p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.feature-gruop > .feature-item > button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f1c40f;
    border-style: none;
    border-radius: 2px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
}

footer > div {
    display: flex;
    flex-direction: row;
}
footer > div > a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}